{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Urmart</title>
    <link rel="icon" href="{% static "img/cart.ico" %}" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body text-center">
                <form id="post-form" method="post">
                  {% csrf_token %}
                  <select name="product_name" required>
                    <option value="">Select Product</option>
                    {% for p in products %}
                    <option value="{{ p.0 }}">{{ p.0 }}</option>
                    {% endfor %}
                  </select>

                  <input type="number" class="custom-text" name="product_number" min="1" placeholder="數量" required>
                  <input type="image" class="image-btn" src="{% static "img/plus.png" %}" border="0" alt="Submit" />
                </form>
              </div>


            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body text-left">
                <input form="post-form" type="text" name="customer_id" placeholder="Customer ID" required>
                <br>
                <input form="post-form" type="checkbox" name="isVIP" id="isVIP" value="true">
                <label for="isVIP">是否為VIP身份</label>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12 col-content-center">
            <div class="card">
              <div class="card-body text-center">
                <p class="warning-status">{{ status }}</p>
                <h6 class="text-left">商品列表</h4>
                  <table class="table table-striped">
                  <thead>
                    <tr style="background-color:#A6A6A6; color:#FFFFFF;">
                      <td class="td-border">Product ID</td>
                      <td class="td-border">stock_pcs</td>
                      <td class="td-border">price</td>
                      <td class="td-border">shop_id</td>
                      <td class="td-border">vip</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for p in products %}
                    <tr>
                      <td class="td-border">{{ p.0 }}</td>
                      <td class="td-border">{{ p.1 }}</td>
                      <td class="td-border">{{ p.2 }}</td>
                      <td class="td-border">{{ p.3 }}</td>
                      <td class="td-border">
                        <input type="checkbox" name="isVIP" id="isVIP" value="true" onclick="return false;" {% if p.4 == 'true' %}checked{% endif %}>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>

              </div>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12 col-content-center">
            <div class="card">
              <div class="card-body text-center">
                <h6 class="text-left">訂單記錄</h4>
                  <table class="table table-striped">
                  <thead>
                    <tr style="background-color:#A6A6A6; color:#FFFFFF;">
                      <td class="td-border">Order ID</td>
                      <td class="td-border">product_id</td>
                      <td class="td-border">qty</td>
                      <td class="td-border">price</td>
                      <td class="td-border">shop_id</td>
                      <td class="td-border">Customer ID</td>
                      <td style="background-color:#FFFFFF;border:none"></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ord in orders %}
                    <tr>
                      <td class="td-border">{{ ord.0 }}</td>
                      <td class="td-border">{{ ord.1 }}</td>
                      <td class="td-border">{{ ord.2 }}</td>
                      <td class="td-border">{{ ord.3 }}</td>
                      <td class="td-border">{{ ord.4 }}</td>
                      <td class="td-border">{{ ord.5 }}</td>
                      <td style="background-color:#FFFFFF;border:none">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="delete_order_name" value="{{ ord.0 }}">
                            <input type="image" class="image-btn" src="{% static "img/minus.png" %}" border="0" alt="Submit"/>
                        </form>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body text-left">
                  <button id="top3-button" type="button" class="btn btn-primary custom-btn shadow-none">Top3</button>
              </div>

            </div>
          </div>

        </div>

      </div>
      <div id="alert-div">
        <script>
              $(document).ready(function(e){
                $("#top3-button").click(function(){
                    $.ajax({
                        type: "GET",
                        url: "{% url 'calculateTopThree' %}",  // URL to your view that serves new info
                        data: {},
                    }).done(function(response){

                        console.log(response)
                        alert_str = "Top3 Product ID: ";
                        for(var order of response['top3']){
                          alert_str += order;
                          alert_str += ", ";
                        }
                        alert(alert_str);
                    })
                });
            });
        </script>
      </div>



  </body>
</html>




<style>


.row{
  justify-content: center;
}

.text-center{
  text-align: center;
}

select{
  padding: 8px;
  font-size: 13px;
  width:200px;
  border: 1px solid #aaa;
  margin-right: 10px
}

.image-btn{
  width: 23px;
  height: 23px;
}

.custom-text{
  width: 70px;
  height: 23px;
  margin-right: 13px;
}

.text-left{
  text-align: left;
}

/* th, td, tr{
border:1px solid #000000;
border-bottom:1px solid #000000;
border-top-color: #000000;a
} */

.td-last{
  border:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;
  border-top-color: #FFFFFF;
}

table{
  width: auto;
  margin: 0 auto;
}

.td-border{
  border:1px solid #000000;
  border-bottom:1px solid #000000;
  border-top-color: #000000;
}

.card{
  border:none;
}


.custom-btn{
  background-color:white;
  color: black;
  padding: 18px;
  border-radius: 40px;
  font-size: 13px;
  width: 140px;
  border: 1px solid black;
}

.warning-status{
  font-size:20px;
  color:#ff0000;
  font-weight:bold;
  font-style:italic;
}

</style>
